In [1]:
import pandas as pd
import numpy as np
import pyarrow as pa
import pyarrow.parquet as pq
from pyarrow import csv

In [2]:
df = pd.read_csv("D:\\ITI_dataEng\\bigdata\\project\\mimic-iii-clinical-database-demo-1.4\\DIAGNOSES_ICD.csv")

In [3]:
df.head()

   row_id  subject_id  hadm_id  seq_num icd9_code
0  112344       10006   142345        1     99591
1  112345       10006   142345        2     99662
2  112346       10006   142345        3      5672
3  112347       10006   142345        4     40391
4  112348       10006   142345        5     42731

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1761 entries, 0 to 1760
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   row_id      1761 non-null   int64
 1   subject_id  1761 non-null   int64
 2   hadm_id     1761 non-null   int64
 3   seq_num     1761 non-null   int64
 4   icd9_code   1761 non-null   object
dtypes: int64(4), object(1)
memory usage: 68.9+ KB

In [4]:
df['icd9_code'].value_counts()

icd9_code
4019     53
42731    48
5849     45
4280     39
25000    31
         ..
8730      1
3361      1
E8231     1
34401     1
45182     1
Name: count, Length: 581, dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1761 entries, 0 to 1760
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   row_id      1761 non-null   int64
 1   subject_id  1761 non-null   int64
 2   hadm_id     1761 non-null   int64
 3   seq_num     1761 non-null   int64
 4   icd9_code   1761 non-null   object
dtypes: int64(4), object(1)
memory usage: 68.9+ KB