In [55]:
import pandas as pd

In [56]:
import numpy as np

In [ ]:

df_pat = pd.read_csv("D:\\ITI_dataEng\\bigdata\\project\\mimic-iii-clinical-database-demo-1.4\\PATIENTS.csv", parse_dates=['dob', 'dod', 'dod_hosp', 'dod_ssn'])

In [57]:
df_pat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_id       100 non-null    int64
 1   subject_id   100 non-null    int64
 2   gender       100 non-null    object
 3   dob          100 non-null    datetime64[ns]
 4   dod          100 non-null    datetime64[ns]
 5   dod_hosp     70 non-null     datetime64[ns]
 6   dod_ssn      77 non-null     datetime64[ns]
 7   expire_flag  100 non-null    int64
dtypes: datetime64[ns](4), int64(3), object(1)
memory usage: 6.4+ KB

In [19]:
df_pat.isnull().sum()

row_id          0
subject_id      0
gender          0
dob             0
dod             0
dod_hosp       30
dod_ssn        23
expire_flag     0
dtype: int64

In [58]:
df_pat.head(10)

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
0,9467,10006,F,2094-03-05,2165-08-12,2165-08-12,2165-08-12,1
1,9472,10011,F,2090-06-05,2126-08-28,2126-08-28,NaT,1
2,9474,10013,F,2038-09-03,2125-10-07,2125-10-07,2125-10-07,1
3,9478,10017,F,2075-09-21,2152-09-12,NaT,2152-09-12,1
4,9479,10019,M,2114-06-20,2163-05-15,2163-05-15,2163-05-15,1
5,9486,10026,F,1895-05-17,2195-11-24,NaT,2195-11-24,1
6,9487,10027,F,2108-01-15,2190-09-14,NaT,2190-09-14,1
7,9489,10029,M,2061-04-10,2140-09-21,NaT,2140-09-21,1
8,9491,10032,M,2050-03-29,2138-05-21,2138-05-21,2138-05-21,1
9,9492,10033,F,2051-04-21,2133-09-09,NaT,2133-09-09,1

In [12]:
#convert to date
date_cols = ['dob', 'dod', 'dod_hosp', 'dod_ssn']
for col in date_cols:
    df_pat[col] = pd.to_datetime(df_pat[col], errors='coerce')

In [13]:
#convert to category
df_pat['gender'] = df_pat['gender'].astype('category')
#convert to bool
df_pat['expire_flag'] = df_pat['expire_flag'].astype(bool)

In [25]:
df_pat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_id       100 non-null    int64
 1   subject_id   100 non-null    int64
 2   gender       100 non-null    category
 3   dob          100 non-null    datetime64[ns]
 4   dod          100 non-null    datetime64[ns]
 5   dod_hosp     70 non-null     datetime64[ns]
 6   dod_ssn      77 non-null     datetime64[ns]
 7   expire_flag  100 non-null    bool
 8   is_deceased  100 non-null    bool
dtypes: bool(2), category(1), datetime64[ns](4), int64(2)
memory usage: 5.2 KB

In [27]:
df_pat.dtypes

row_id                  int64
subject_id              int64
gender               category
dob            datetime64[ns]
dod            datetime64[ns]
dod_hosp       datetime64[ns]
dod_ssn        datetime64[ns]
expire_flag              bool
is_deceased              bool
dtype: object

In [96]:
df_pat.head()

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag,is_deceased
0,9467,10006,F,2094-03-05,2165-08-12,2165-08-12,2165-08-12,True,True
1,9472,10011,F,2090-06-05,2126-08-28,2126-08-28,NaT,True,True
2,9474,10013,F,2038-09-03,2125-10-07,2125-10-07,2125-10-07,True,True
3,9478,10017,F,2075-09-21,2152-09-12,NaT,2152-09-12,True,True
4,9479,10019,M,2114-06-20,2163-05-15,2163-05-15,2163-05-15,True,True

In [ ]:

datetime_cols = ['dob', 'dod', 'dod_hosp', 'dod_ssn']

In [41]:
for col in datetime_cols:
    df_pat[col] = df_pat[col].dt.strftime('%Y-%m-%d %H:%M:%S')

In [42]:
df_pat[datetime_cols].head()

,dob,dod,dod_hosp,dod_ssn
0,2094-03-05 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00
1,2090-06-05 00:00:00,2126-08-28 00:00:00,2126-08-28 00:00:00,NaN
2,2038-09-03 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00
3,2075-09-21 00:00:00,2152-09-12 00:00:00,NaN,2152-09-12 00:00:00
4,2114-06-20 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00

In [43]:
df_pat.dtypes

row_id          int64
subject_id      int64
gender         object
dob            object
dod            object
dod_hosp       object
dod_ssn        object
expire_flag     int64
dtype: object

In [45]:
df_pat.to_csv('Patients_cleaned.csv', index=False)